<!DOCTYPE HTML>
<html lang="es">

<head>
    <title>GEU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    {%load static%}
    {% load i18n %}
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    
    <!-- Stylesheets -->
    
    <link href="{% static 'plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugin-frameworks/swiper.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'common/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>
    {% block titulo%} {% endblock%}
    </header>
    
    <div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
       {% block contenido%}  {% endblock%}
    </div><!-- slider-main -->
    
    
    <section class="bg-1-white ptb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">                   
                    
                </div><!-- col-sm-9 -->
                
                <div class="col-md-12 col-lg-3 bg-2-white ptb-50 pl-30 pl-md-15">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="mx-w-md-400x mlr-md-auto">
                            
                                <div class="mb-50">
                                    <h5 class="mb-30"><b></b></h5>
                                    
                                    <div class="sided-80x mb-20">
                                        <div class="s-left">
                                            <img src="images/top_1_120x120.jpg" alt="">
                                        </div><!-- s-left -->
                                        <div class="s-right">
                                        </div><!-- s-left -->
                                    </div><!-- sided-80x -->
                                
                                <div class="mb-50">
                                    <h5 class="mb-30"><b></b></h5>
                                    
                                    <div class="sided-80x mb-20">
                                        <div class="s-right">
                                           
                                        </div><!-- s-left -->
                                    </div><!-- sided-80x -->
                                    
                                </div><!-- mb-50 -->
                                
                                </div><!-- mb-50 -->
                                
                            </div><!-- mx-w-400 -->
                        </div><!-- col-sm-9 -->
                    </div><!-- row -->
                </div><!-- col-sm-3 -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
    
    <footer class="bg-191 color-ash pt-50 pb-20 text-left center-sm-text">
        
        <div class="container-fluid">
            <div class="row">
            
                <div class="col-lg-1"></div>
                
                <div class="col-md-4 col-lg-6 mb-30">
                    <div class="card h-100">
                        <div class="dplay-tbl">
                            <div class="dplay-tbl-cell">
                            
                                
                                <p class="color-ash mt-25"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                
                            </div><!-- dplay-tbl-cell -->
                        </div><!-- dplay-tbl -->
                    </div><!-- card -->
                </div><!-- col-lg-4 col-md-6 -->
                
                <div class="col-md-4 col-lg-2 mb-30">
                    <div class="card h-100">
                        <div class="dplay-tbl">
                            <div class="dplay-tbl-cell">
                            
                                <ul class="list-a-plr-10">
                                    <li><a href="https://es-es.facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/?lang=es"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/"><i class="ion-social-youtube"></i></a></li>
                                </ul>
                                
                            </div><!-- dplay-tbl-cell -->
                        </div><!-- dplay-tbl -->
                    </div><!-- card -->
                </div><!-- col-lg-4 col-md-6 -->
                
                <div class="col-md-4 col-lg-2 mb-30 text-left">
                    <div class="card h-100">
                        <div class="dplay-tbl">
                            
                        </div><!-- dplay-tbl -->
                    </div><!-- card -->
                </div><!-- col-lg-4 col-md-6 -->
                
            </div><!-- row -->
        </div><!-- container -->
    </footer>
    
    <!-- SCIPTS -->
    
    <script src="{% static 'plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'plugin-frameworks/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugin-frameworks/swiper.js' %}"></script>
    <script src="{% static 'common/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin-frameworks/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin-frameworks/interaccionJQuery.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin-frameworks/jquery.qtip-1.0.0-rc3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugin-frameworks/ajax.js' %}"></script>
    
</body>
</html>