{% extends 'base.html' %}

{% block titulo %}   
{% load i18n %}
<form action= "{% url 'set_language' %}" method="post"> {% csrf_token %}
        <input name="next" type="hidden" value= "{{redirect_to }}" />
        <select name = "language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages%}
            {% for language in languages%}
                <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {%endif%}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor%}
        </select>
        <input type="submit" value="Change" />
    </form>
<a class="logo blanco" href="/">geu</a>
        
      
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a class="blanco" href="/">{% trans "Inicio"%}</a></li>
            <li><a class="blanco" href="/bolsas">{% trans "Bolsas"%}</a></li>
            <li><a class="blanco" href="/textiles">{% trans "Textiles"%}</a></li>
            <li><a class="blanco" href="/complementos">{% trans "Complementos"%}</a></li>
            
            
            
        </ul>
        
        <div class="clearfix"></div>
{% endblock %}
{% block contenido %}
{% load i18n %}
<h2>{% trans "COMPLEMENTOS" %}</h2>

{% if complementos %}
<table>
    
    {% for c in complementos %}
  
         <th>
            <h3><a href="{% url 'detailComplementos' c.id %}">{{c.nombre}}</a></h3>
            {% load static %}
            {% with ''|add:c.foto.name as image_path %}
          <img class="autor" alt="{{ c.foto.name }}" src="{% static image_path %}" height="400"/>
        {% endwith %}
        </th>
     

    
    {% endfor %}
</table>

{% endif %}
{% endblock %}